  <div class="tasks-container">

    <div class="task">
      <div class="task-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque debitis laboriosam nobis! Eveniet, corrupti. Quo, quaerat expedita veniam quod voluptatem repellat nemo, voluptas dolorum non beatae, ducimus excepturi a laudantium.
      </div>
      <div class="task-date">
        <b>Дата: </b>ДД.ММ.ГГГГ
      </div>
      
      <div class="task-menu">
        <a href="#">
          <img class="task-menu-img" src="/assets/edit.png">
        </a>
        <a href="#">
          <img class="task-menu-img" src="/assets/done.png">
        </a>
      </div>
    </div>

  </div>
