.main-menu {
  position: fixed;
  right: 10px;
  top: 5%;
  padding: 10px;
  background-color: white;
  border: 1px solid #333;
}

.main-menu-item {
  position: flex;
}

.main-menu-item:hover {
  border: 2px solid #333;
}

.main-menu-item-img {
  width: 50px;
  height: 50ps;
}

.tasks-container {
  display: flex;
  flex-wrap: wrap;
  padding-right: 100px;
}

.task-content {
  display: flex;
  margin: 10px;
}

.task-date {
  display: flex;
  margin: 10px;
}

.task {
  max-width: 300px;
  background-color: white;
  border: 1px solid #333;
  margin: 10px;
}

.task:hover {
  background-color: white;
  margin: 5px;
  border: 2px solid #333;
}

.task:hover .task-menu {
  display: block;
}

.task-menu-img {
  width: 50px;
  height: 50ps;
  border: 1px solid #333;
  margin: 10px;
}

.task-menu-img:hover {
  border: 2px solid #333;
}

a {
  text-decoration: none;
}

.info-page-header {
  display: flex;
  padding-right: 100px;
}

.info-page-content {
  display: flex;
  padding-right: 100px;
}

.stat-tbl {
  padding-right: 100px;
}

.stat-tbl-td {
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}
